
.dashboard-list_data_JustineDus {
  text-align: center;
  .dashboard-list_data_mint{
    display: inline-block;
    .dusk_equipment.dusk_equipment-title{
      width: auto;
      text-align: left;
    }
  }
  .dusk_upgrade {
    display: flex;
    justify-content: center;
    .dusk_joint{
      //width: 450px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 60px;

      .dusk_png {
        width: 196px;
        &:first-child {
          margin-right: 134px;
        }
      }
      .lightning {
        position: absolute;
        margin-bottom: 0;
        width: 214px;
        height: 164px;
        background-image: url('../../../../assets/image/dashboard/lightning@2x.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        animation: opacityAnimation 1s linear 0s infinite alternate;
        -webkit-animation: opacityAnimation 1s linear 0s infinite alternate;
        -moz-animation: opacityAnimation 1s linear 0s infinite alternate;
      }
    }
    margin-bottom: 46px;
    width: 100%;
  }
  @keyframes opacityAnimation
  {
    0% { opacity: 0 }
    50% { opacity: .8 }
    100% { opacity: 0 }
  }
  @-webkit-keyframes opacityAnimation {
    0% { opacity: 0 }
    50% { opacity: .8 }
    100% { opacity: 0 }
  }
  @-moz-keyframes opacityAnimation {
    0% { opacity: 0 }
    50% { opacity: .8 }
    100% { opacity: 0 }
  }
  .dusk_equipment {
    width: 450px;
    text-align: center;
  }
  .dusk_equipment_box {
    .naked_duck {
      &:nth-child(2n - 1) {
        margin-right: 26px;
      }
    }
  }
  .naked_duck {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    width: 206px;
    height: 88px;
    border-radius: 4px;
    border: 3px solid transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: cover;
    background-image: linear-gradient(#390039, #390039), linear-gradient(135deg, rgba(81, 13, 84, 1), rgba(156, 82, 148, 1), rgba(148, 78, 143, 1));
    vertical-align: top;
    img {
      position: absolute;
      left: -3px;
      top: -3px;
      width: 90px;
      height: 88px;
      vertical-align: sub;
    }
    .dusk_equipment_number {
      display: inline-block;
      padding-left: 88px;
      width: 100%;
      height: 100%;
      font-size: 34px;
      font-weight: 700;
      color: #FFF;
      line-height: 82px;
      text-align: center;
      vertical-align: top;
      text-shadow: #842DF9 2px 0 0, #842DF9 0 2px 0, #842DF9 -2px 0 0, #842DF9 0 -2px 0;
      i {
        font-style: normal;
        font-weight: normal;
        font-family: FredokaOne-Regular;
      }
    }
    .no_dusk_equipment {
      display: inline-block;
      padding: 0 10px;
      margin: 18px 0 0 90px;
      min-width: 80px;
      height: 40px;
      font-size: 18px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 500;
      color: #96008B;
      line-height: 40px;
      text-align: center;
      background: url('../../../../assets/image/dashboard/button@2x.png') no-repeat;
      background-size: 100% 100%;
      &:hover {
        color: #96008B;
      }
    }
  }
  .bg2 {
    background: linear-gradient(220deg, #6C2A66 0%, #4A003C 100%, #000000 100%);
    border: 3px solid #760080;
  }
  .bg3 {
    background: linear-gradient(38deg, #290422 0%, #4A003C 100%);
    border: 3px solid #760080;
  }
  .bg1 {
    background: linear-gradient(220deg, #DBB580 0%, #0055A6 0%, #001023 100%);
    border: 3px solid #00419B;
  }
  .bg4 {
    background: linear-gradient(220deg, #8C5406 0%, #2B1E00 100%);
    border: 3px solid #906100;
  }
  .mine-btn-box{
    text-align: left;
  }
  .mint_btn {
    display: inline-block;
    padding: 0 10px;
    min-width: 310px;
    height: 66px;
    font-size: 30px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #96008B;
    line-height: 66px;
    text-align: center;
    background: url('../../../../assets/image/dashboard/button_big.svg') no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    &:hover {
      color: #96008B;
    }
    &.disabled{
      filter: grayscale(1);
      cursor: default;
    }
  }
}

@media (max-width: 1100px) {
  .dashboard-list_data_JustineDus {
    .dusk_upgrade {
      flex-direction: column;
      .dusk_joint{
        margin-right: 0;
      }
      .dusk_equipment{
        margin: 20px auto;
        .mine-btn-box{
          text-align: center;
          .mint_btn{
            margin: auto;
          }
        }
      }
    }
  }
}
@media (max-width: 520px) {
  .dashboard-list_data_JustineDus {
    .dusk_equipment.dusk_equipment-title{
        display: flex;
        justify-content: center;
    }
    .dusk_upgrade {
      flex-direction: column;
      .dusk_joint{
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .dusk_png {
          width: 120px;
          &:first-child {
            margin-right: 40px;
          }
        }
        .lightning {
          width: 107px;
          height: 67px;
        }
      }
      .dusk_equipment{
        margin: 20px auto;
        width: 100%;
        .mine-btn-box{
          text-align: center;
          .mint_btn{
            margin: auto;
          }
        }
        .naked_duck {
          margin-bottom: 12px;
          width: 170px;
          height: 75px;
          &:nth-child(2n - 1) {
            margin-right: 10px;
          }
          img {
            position: absolute;
            left: -3px;
            top: -3px;
            width: 75px;
            height: 75px;
            vertical-align: sub;
          }
          .dusk_equipment_number{
            line-height: 70px;
            padding-left: 45px;
          }
          .no_dusk_equipment{
            margin: 18px 0 0 70px;
          }
        }
      }
    }
  }
}
