.show-content {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../../../assets/image/show/light1.png"),
    url("../../../assets/image/show/light2.png"),
    url("../../../assets/image/show/light3.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top right, center left, bottom right;
}
.show-content-dusk{
    width: 100%;
    height: 100%;
}
.dusk-logo{
    width: 200px;
    height: 289px;
    img{
        width: 100%;
        height: 100%;
    }
}